.inner {
    margin-top: 1.8em;
    font-size: 1vw;
    width: 100vw;
    display: flex;
    color: #00277E;
    justify-content: space-between;
}

.header__right {
    font-size: 150%;
}

.header__left {
    width: 20em;
    list-style: none;
    text-align: center;
    line-height: 1.5em;
}

.header__left--list {
    display: inline;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #00277E;
}

.main__img {
    margin-top: 5%;
    text-align: right;
}

.main__img img {
    width: 50%;
    height: 50%;
}

.main__title {
    margin-top: -12%;
}

.main__title--logo {
    width: 20%;
    font-size: 3vw;
    font-weight: lighter;
}

.main__box {
    width: 78vw;
    aspect-ratio: 9/2;
    background: #00277E;
}