body {
    width: 1250px;
    height: 700px;
}

.inner {
    width: 100%;
    display: flex;
    color: #00277E;
    justify-content: space-between;
}

.header__left {
    width: 20em;
    margin-top: 1.8em;
    list-style: none;
}

.header__left--list {
    display: inline;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #00277E;
}

.main__img {
    display: inline-block;
    position: relative;
    top: 6em;
    left: 38em;
}

.main__img img {
    width: 625px;
    height: 400px;
}

.main__title {
    font-size: 3em;
    font-weight: lighter;
    margin: -1.5em 0 -0.1em -0.1em;
}

.main__box {
    width: 59em;
    height: 12em;
    margin: -1em 0 20px -0.5em;
    background: #00277E;
}